@import '../../../assets/normalize.css';

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
}

.css-table {
  padding: 0.5rem;

  & h1 {
    margin-left: 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
  }

  & .header {
    padding: 1rem 0.5rem;
    border-bottom: 2px solid #ccc;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & svg {
      margin: 0 0.5rem;
    }

    & > .source {
      color: #757575;
      font-size: small;
      margin-left: 0.5rem;
    }

    & > .sort {
      border: none;
      background: none;
      padding: 0;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
    }
  }
  // 'Applied',
  // 'Contacted',
  // 'Phone Interview',
  // 'Follow-up',
  // 'On-site Interview',
  // 'Rejected',
  // 'Offer Accepted',

  & .body {
    display: grid;
    // grid-template-columns: 0 0 0 auto;
    grid-template-areas: 'row company position stage';
    grid-template-columns: 40px 1fr 1fr auto;

    & .headers {
      &.row {
        grid-area: row;
      }
      &.company {
        grid-area: company;
      }
      &.position {
        grid-area: position;
      }
      &.stage {
        grid-area: stage;
      }
    }

    & .stage {
      color: #222;

      & > .applied {
        background-color: #eee;
      }
      & > .contacted {
        background-color: #fff6c5;
      }
      & > .followup {
        background-color: #ffceaf;
      }
      & > .phone {
        background-color: #b2d6fe;
      }
      & > .onsite {
        background-color: #fac5ff;
      }
      & > .offer {
        background-color: #9cf7d7;
      }
      & > .rejected {
        background-color: #ffc5c5;
      }
    }
  }
}
