/* our root css vars */
:root {
  --size: 500px;
  --border: 5px;
  --duration: 4s;
  --color: black;
}

BODY {
  // background: black;
  min-height: 100%;
}

/* reset our box sizing on psuedo elems */
*,
::after,
::before {
  box-sizing: border-box;
}

/* animate height and width equally  */
@keyframes shape-interconnected {
  0% {
    width: var(--size);
    height: var(--size);
  }
  50% {
    width: calc(var(--size) * 0.6);
    height: calc(var(--size) * 0.6);
  }
  100% {
    width: var(--size);
    height: var(--size);
  }
}

.shape-interconnected {
  /* our shape intersect container positioned center of window */
  /* this can be positioned where ever you want */
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shape-interconnected var(--duration) infinite ease-out;

  /* our square calculated at 40% of parent */
  /* position and overflow hidden are key, hiding pseudo child elems */
  & > .square {
    width: calc(var(--size) * 0.4);
    height: calc(var(--size) * 0.4);
    background: transparent;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;

    /* our square before pseudo elem emulating inner white filled circle */
    /* position absolute with animation keyframes */
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: var(--color);
      border-radius: 50%;
      position: absolute;
      animation: circle-interconnected var(--duration) infinite ease-out;
    }

    /* our square before pseudo elem emulating white border */
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: var(--border) solid var(--color);
      position: relative;
    }
  }

  /* our circle calculated at 40% of parent */
  & > .circle {
    width: calc(var(--size) * 0.4);
    height: calc(var(--size) * 0.4);
    position: absolute;
    bottom: 0;
    left: 0;

    /* our circle before pseudo elem emulating white border */
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      border: var(--border) solid var(--color);
      border-radius: 50%;
      position: relative;
    }
  }
}

/* start top/right 150% away, overflowing out of view */
/* 50% keyframe top/right 50% away, in view */
@keyframes circle-interconnected {
  0% {
    top: 150%;
    right: 150%;
  }
  50% {
    top: 50%;
    right: 50%;
  }
  100% {
    top: 150%;
    right: 150%;
  }
}
